.idea/workspace.xml
__pycache__
NemexRelator2010/features/numberbatch-en.txt
NemexRelator2010/models/libLinearInput_test.txt
NemexRelator2010/models/libLinearInput_train.txt
NemexRelator2018/models/libLinearInput.txt

